# DataScience Tools and ecosystem #

In this notebook,Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
* list popular languages for Data Science
* Commonly used libraries used by DataScience
* Data Science Tools
* Some arithmetic expressions in python

some of the popular languages that Data scientists use are:
 1. Python
 2. SQL
 3. R

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy

|DataScience Tools|
|:---------------:|
|   Rstudio       |
| Apache Spark    |
|  Tensor Flow    |

### Below are few examples of evaluating arithmetic expressions in python ###
* *
* /
* //

In [1]:
(3*4)+5
# This is a simple arithmetic expression to multiply then add integers

17

In [2]:
200/60
# This will convert 200 minutes to hours by dividing by 60

3.3333333333333335

## Author ##
Vinolia